<h1>Inventario</h1>


<h2>Materias primas disponibles</h2>

<table style="clear:both">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Marca</th>
      <th>Cantidad</th>
      <th>Precio</th>
      
    </tr>
  </thead>

 <tbody>
   <% $totalInventario = 0 %>
    <% @materia_primas.each do |materias_prima| %>
      <tr>
        <td><%= materias_prima.nombre %></td>
        <td><%= materias_prima.descripcion %></td>
        <td><%= materias_prima.marca %></td>
        <td><%= materias_prima.cantidad %></td>
        <td><%= materias_prima.precio %></td>
        <td class="boton"><%= link_to 'Mostrar', materias_prima %></td>
        <td class="boton"><%= link_to 'Editar', edit_materias_prima_path(materias_prima) %></td>
        <td class="boton"><%= link_to 'Eliminar', materias_prima, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
         <% $totalInventario += materias_prima.precio %>
    <% end %>
  </tbody>

</table>
        
  <div class="precio">
   <h3> Dolar actual: <%= $dolar %> </h3>
   <h3> Total US: <%= number_to_currency($totalInventario) %>  </h3>
   <h3> Total CLP: <%= number_to_currency( ($totalInventario * $dolar)) %> </h3>
  </div>

  <div class="descargar"><%= link_to 'Descargar pdf', inventario_inventario_path(format: :pdf) %></div>