<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @materias_prima.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @materias_prima.descripcion %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @materias_prima.marca %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @materias_prima.cantidad %>
</p>

<p>
  <strong>Precio en dolares:</strong>
  <%= @materias_prima.precio %>
</p>

<p>
  <strong>Precio en pesos chilenos:</strong>
  <%= @materias_prima.precio * $dolar %>
</p>
<%= link_to 'Edit', edit_materias_prima_path(@materias_prima) %> |
<%= link_to 'Back', materias_primas_path %>
