<!DOCTYPE html>
<html>
<head>
    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
  <meta charset="utf-8">
</head>
<body>

<style>
  table {
    width: 100%;
    padding: 10px 0;
    font-family:'Arial';
    text-transform: uppercase;
    font-size:15px;

  }
  h1{
     font-family:'Arial';
    width:100%;
       clear:both;
    font-size:19px;
   border: 1px solid black;
    padding:5px;
    background: #536ae0;
     text-align:center;
    color: white;
    margin-bottom:0px;
  }
  table th{
    border: 1px solid black;
    padding:5px;
    background: #536ae0;
     text-align:center;
    color: white;
    margin:0!important;
  }
   table td{
   margin: 0;
     margin:0!important;

   padding: 3px;
    border: 1px solid black;
    text-align:center;
  }
img{
  float:left;
}
h5{
  float:right;
      font-family:'Arial';
      clear:both;
}
</style>

<% @formula = FormulaPintura.where(descripcion: @orden_trabajo.producto).first %>
<% @formula.formula_kg = @orden_trabajo.formula_kilos %>
<% calculo_kg_formula(@formula) %>
<% calculo_costo(@formula) %>
        <%= wicked_pdf_image_tag 'logoandescolor.png' %>
       
        <h5> Fecha de emisión de reporte: <%= Time.now %></h5>
<table class="ot" cellspacing="0">
 <tr>
    <h1>OT<%= @orden_trabajo.id %> </h1>
 </tr>
  <tr>
    <td>Pantonera:</td>
    <td><%= @orden_trabajo.pantonera %></td> 
  </tr>
  <tr>
    <td>Cliente</td>
    <td><%= @orden_trabajo.cliente %></td> 
  </tr>
  <tr>
    <td>Orden de compra:</td>
    <td><%= @orden_trabajo.orden_de_compra %></td>
  </tr>
  <tr>
    <td>Producto</td>
    <td><%= @orden_trabajo.grano  %></td>
    
  </tr>
  <tr>
    <td> Formula </td>
    <td> <%= @orden_trabajo.producto %></td>
  </tr>
  <tr>
    <td> Formula kilos</td>
    <td>  <%= @orden_trabajo.formula_kilos %></td>
  </tr>
  <tr>
    <td>Tinetas</td>
    <td>  <%= @orden_trabajo.tinetas %></td>
  </tr>
   <tr>
    <td>Fecha de produccion:</td>
    <td>  <%= @orden_trabajo.fecha %></td>
  </tr>
  <tr>
    <td>Muestra color</td>
    <td><%= @orden_trabajo.muestra_color %></td>
  </tr>
  <tr>
    <td>Colorista a cargo:</td>
    <td><%= @orden_trabajo.colorista_a_cargo %> </td>
  </tr>
  <tr>
    <td>Formula </td>
    <td><%= @formula.descripcion %></td>
  </tr>
  <tr>
    <td> Fomulas kilos</td> 
    <td>  <%= @orden_trabajo.formula_kilos %></td>
  </tr>
</table>

<table class="formula" cellspacing="0">
  <tr>
    <th>Item </th>
    <th> Materia Prima </th>
    <th> % </th>
    <th> kg </th>
  </tr>
  <tr>
    <td> 1 </td>
    <td> <%= @formula.materia_prima_1 %> </td>
    <td> <%= @formula.porcentaje_materia_prima_1 %></td>
    <td> <%= @formula.kg_materia_prima_1.to_f.round(2) %> </td>

  </tr>
    <tr>
    <td> 2 </td>
    <td> <%= @formula.materia_prima_2 %> </td>
    <td> <%= @formula.porcentaje_materia_prima_2 %></td>
    <td> <%= @formula.kg_materia_prima_2.to_f.round(2)  %> </td>
  </tr>
    <tr>
    <td> 3 </td>
    <td> <%= @formula.materia_prima_3 %> </td>
    <td> <%= @formula.porcentaje_materia_prima_3 %></td>
    <td> <%= @formula.kg_materia_prima_3.to_f.round(2) %> </td>
  </tr>
    <tr>
    <td> 4 </td>
    <td> <%= @formula.materia_prima_4 %> </td>
    <td> <%= @formula.porcentaje_materia_prima_4 %></td>
    <td> <%= @formula.kg_materia_prima_4.to_f.round(2) %> </td>
  </tr>
    <tr>
    <td> 5 </td>
    <td> <%= @formula.materia_prima_5 %> </td>
    <td> <%= @formula.porcentaje_materia_prima_5 %></td>
    <td> <%= @formula.kg_materia_prima_5.to_f.round(2) %> </td>

  </tr>
    <tr>
    <td> 6 </td>
    <td> <%= @formula.materia_prima_6 %> </td>
    <td> <%= @formula.porcentaje_materia_prima_6 %></td>
    <td> <%= @formula.kg_materia_prima_6.to_f.round(2) %> </td>
  </tr>
    <tr>
    <td> 7 </td>
    <td> <%= @formula.materia_prima_7 %> </td>
    <td> <%= @formula.porcentaje_materia_prima_7 %></td>
    
  </tr>
    <tr>
    <td> 8 </td>
    <td> <%= @formula.materia_prima_8 %> </td>
    <td> <%= @formula.porcentaje_materia_prima_8 %></td>
    <td> <%= @formula.kg_materia_prima_8.to_f.round(2) %> </td>

  </tr>
    <tr>
    <td> 9 </td>
    <td> <%= @formula.materia_prima_9 %> </td>
    <td> <%= @formula.porcentaje_materia_prima_9 %></td>
    <td> <%= @formula.kg_materia_prima_9.to_f.round(2) %> </td>

  </tr>
    <tr>
    <td> 10 </td>
    <td> <%= @formula.materia_prima_10 %> </td>
    <td> <%= @formula.porcentaje_materia_prima_10 %></td>
    <td> <%= @formula.kg_materia_prima_10.to_f.round(2) %> </td>

  </tr>
    <tr>
    <td> 11 </td>
    <td> <%= @formula.materia_prima_11 %> </td>
    <td> <%= @formula.porcentaje_materia_prima_11 %></td>
    <td> <%= @formula.kg_materia_prima_11.to_f.round(2) %> </td>

  </tr>
    <tr>
    <td> 12 </td>
    <td> <%= @formula.materia_prima_12 %> </td>
    <td> <%= @formula.porcentaje_materia_prima_12 %></td>
    <td> <%= @formula.kg_materia_prima_12.to_f.round(2) %> </td>

  </tr>
    <tr>
    <td> 13 </td>
    <td> <%= @formula.materia_prima_13 %> </td>
    <td> <%= @formula.porcentaje_materia_prima_13 %></td>
    <td> <%= @formula.kg_materia_prima_13.to_f.round(2) %> </td>

  </tr>
    <tr>
    <td> 14 </td>
    <td> <%= @formula.materia_prima_14 %> </td>
    <td> <%= @formula.porcentaje_materia_prima_14 %></td>
    <td> <%= @formula.kg_materia_prima_14.to_f.round(2) %> </td>

  </tr>
    <tr>
    <td> 15 </td>
    <td> <%= @formula.materia_prima_15 %> </td>
    <td> <%= @formula.porcentaje_materia_prima_15 %></td>
    <td> <%= @formula.kg_materia_prima_15.to_f.round(2) %> </td>

  </tr>
    <tr>
    <td> 16 </td>
    <td> <%= @formula.materia_prima_16 %> </td>
    <td> <%= @formula.porcentaje_materia_prima_16 %></td>
    <td> <%= @formula.kg_materia_prima_16.to_f.round(2) %> </td>

  </tr>
    <tr>
    <td> 17 </td>
    <td> <%= @formula.materia_prima_17 %> </td>
    <td> <%= @formula.porcentaje_materia_prima_17 %></td>
    <td> <%= @formula.kg_materia_prima_17.to_f.round(2) %> </td>

  </tr>
    <tr>
    <td> 18 </td>
    <td> <%= @formula.materia_prima_18 %> </td>
    <td> <%= @formula.porcentaje_materia_prima_18 %></td>
    <td> <%= @formula.kg_materia_prima_18.to_f.round(2) %> </td>

  </tr>
    <tr>
    <td> 19 </td>
    <td> <%= @formula.materia_prima_19 %> </td>
    <td> <%= @formula.porcentaje_materia_prima_19 %></td>
    <td> <%= @formula.kg_materia_prima_19.to_f.round(2) %> </td>

  </tr>
    <tr>
    <td> 20 </td>
    <td> <%= @formula.materia_prima_20 %> </td>
    <td> <%= @formula.porcentaje_materia_prima_20 %></td>
    <td> <%= @formula.kg_materia_prima_20.to_f.round(2) %> </td>
  </tr>
  <tr>
  <td style="background: #4b87c7;color:white;">Totales</td>
  <td></td>
  <td><%= porcentaje_total_formula_calc(@formula) %></td>
    <td><%= kilos_total_formula_calc(@formula) %></td>
  </tr>
</table>



</body>
</html>