<%= form_with(model: materia_prima, local: true) do |form| %>
  <% if materia_prima.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(materia_prima.errors.count, "error") %> prohibited this materia_prima from being saved:</h2>

      <ul>
      <% materia_prima.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :materia_prima_id %>
    <%= form.text_field :materia_prima_id %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion %>
  </div>

  <div class="field">
    <%= form.label :marca %>
    <%= form.text_field :marca %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :gramo %>
    <%= form.number_field :gramo %>
  </div>

  <div class="field">
    <%= form.label :categoria %>
    <%= form.text_field :categoria %>
  </div>

  <div class="field">
    <%= form.label :cantidad %>
    <%= form.number_field :cantidad %>
  </div>

  <div class="field">
    <%= form.label :precio %>
    <%= form.number_field :precio %>
  </div>

  <div class="field">
    <%= form.label :observaciones %>
    <%= form.text_field :observaciones %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
