<p id="notice"><%= notice %></p>

<h1>Formula Pinturas</h1>

<table>
  <thead>
    <tr>

      <th>Nombre</th>
      <th>Codigo formula</th>

  
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @formula_pinturas.each do |formula_pintura| %>
      <tr>
         <td><%= formula_pintura.descripcion %></td>
        <td><%= formula_pintura.codigo_formula %></td>
       

        <td><%= link_to 'Ver formula', formula_pintura %></td>
        <td><%= link_to 'Editar', edit_formula_pintura_path(formula_pintura) %></td>
        <td><%= link_to 'Eliminar', formula_pintura, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Formula Pintura', new_formula_pintura_path %>
