<p id="notice"><%= notice %></p>

<p>
  <strong>Dolar considerado:</strong>
  <%= @formula_pintura.dolar_considerado %>
</p>

<p>
  <strong>Formula kg:</strong>
  <%= @formula_pintura.formula_kg %>
</p>

<p>
  <strong>Codigo formula:</strong>
  <%= @formula_pintura.codigo_formula %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @formula_pintura.descripcion %>
</p>

<p>
  <strong>Materia prima 1:</strong>
  <%= @formula_pintura.materia_prima_1 %>
</p>

<p>
  <strong>Costo kg materia prima 1:</strong>
  <%= @formula_pintura.costo_kg_materia_prima_1 %>
</p>

<p>
  <strong>Porcentaje materia prima 1:</strong>
  <%= @formula_pintura.porcentaje_materia_prima_1 %>
</p>

<p>
  <strong>Kg materia prima 1:</strong>
  <%= @formula_pintura.kg_materia_prima_1 %>
</p>

<p>
  <strong>Costo total materia prima 1:</strong>
  <%= @formula_pintura.costo_total_materia_prima_1 %>
</p>

<p>
  <strong>Materia prima 2:</strong>
  <%= @formula_pintura.materia_prima_2 %>
</p>

<p>
  <strong>Costo kg materia prima 2:</strong>
  <%= @formula_pintura.costo_kg_materia_prima_2 %>
</p>

<p>
  <strong>Porcentaje materia prima 2:</strong>
  <%= @formula_pintura.porcentaje_materia_prima_2 %>
</p>

<p>
  <strong>Kg materia prima 2:</strong>
  <%= @formula_pintura.kg_materia_prima_2 %>
</p>

<p>
  <strong>Costo total materia prima 2:</strong>
  <%= @formula_pintura.costo_total_materia_prima_2 %>
</p>

<p>
  <strong>Materia prima 3:</strong>
  <%= @formula_pintura.materia_prima_3 %>
</p>

<p>
  <strong>Costo kg materia prima 3:</strong>
  <%= @formula_pintura.costo_kg_materia_prima_3 %>
</p>

<p>
  <strong>Porcentaje materia prima 3:</strong>
  <%= @formula_pintura.porcentaje_materia_prima_3 %>
</p>

<p>
  <strong>Kg materia prima 3:</strong>
  <%= @formula_pintura.kg_materia_prima_3 %>
</p>

<p>
  <strong>Costo total materia prima 3:</strong>
  <%= @formula_pintura.costo_total_materia_prima_3 %>
</p>

<p>
  <strong>Materia prima 4:</strong>
  <%= @formula_pintura.materia_prima_4 %>
</p>

<p>
  <strong>Costo kg materia prima 4:</strong>
  <%= @formula_pintura.costo_kg_materia_prima_4 %>
</p>

<p>
  <strong>Porcentaje materia prima 4:</strong>
  <%= @formula_pintura.porcentaje_materia_prima_4 %>
</p>

<p>
  <strong>Kg materia prima 4:</strong>
  <%= @formula_pintura.kg_materia_prima_4 %>
</p>

<p>
  <strong>Costo total materia prima 4:</strong>
  <%= @formula_pintura.costo_total_materia_prima_4 %>
</p>

<p>
  <strong>Materia prima 5:</strong>
  <%= @formula_pintura.materia_prima_5 %>
</p>

<p>
  <strong>Costo kg materia prima 5:</strong>
  <%= @formula_pintura.costo_kg_materia_prima_5 %>
</p>

<p>
  <strong>Porcentaje materia prima 5:</strong>
  <%= @formula_pintura.porcentaje_materia_prima_5 %>
</p>

<p>
  <strong>Kg materia prima 5:</strong>
  <%= @formula_pintura.kg_materia_prima_5 %>
</p>

<p>
  <strong>Costo total materia prima 5:</strong>
  <%= @formula_pintura.costo_total_materia_prima_5 %>
</p>

<p>
  <strong>Materia prima 6:</strong>
  <%= @formula_pintura.materia_prima_6 %>
</p>

<p>
  <strong>Costo kg materia prima 6:</strong>
  <%= @formula_pintura.costo_kg_materia_prima_6 %>
</p>

<p>
  <strong>Porcentaje materia prima 6:</strong>
  <%= @formula_pintura.porcentaje_materia_prima_6 %>
</p>

<p>
  <strong>Kg materia prima 6:</strong>
  <%= @formula_pintura.kg_materia_prima_6 %>
</p>

<p>
  <strong>Costo total materia prima 6:</strong>
  <%= @formula_pintura.costo_total_materia_prima_6 %>
</p>

<p>
  <strong>Materia prima 7:</strong>
  <%= @formula_pintura.materia_prima_7 %>
</p>

<p>
  <strong>Costo kg materia prima 7:</strong>
  <%= @formula_pintura.costo_kg_materia_prima_7 %>
</p>

<p>
  <strong>Porcentaje materia prima 7:</strong>
  <%= @formula_pintura.porcentaje_materia_prima_7 %>
</p>

<p>
  <strong>Kg materia prima 7:</strong>
  <%= @formula_pintura.kg_materia_prima_7 %>
</p>

<p>
  <strong>Costo total materia prima 7:</strong>
  <%= @formula_pintura.costo_total_materia_prima_7 %>
</p>

<p>
  <strong>Materia prima 8:</strong>
  <%= @formula_pintura.materia_prima_8 %>
</p>

<p>
  <strong>Costo kg materia prima 8:</strong>
  <%= @formula_pintura.costo_kg_materia_prima_8 %>
</p>

<p>
  <strong>Porcentaje materia prima 8:</strong>
  <%= @formula_pintura.porcentaje_materia_prima_8 %>
</p>

<p>
  <strong>Kg materia prima 8:</strong>
  <%= @formula_pintura.kg_materia_prima_8 %>
</p>

<p>
  <strong>Costo total materia prima 8:</strong>
  <%= @formula_pintura.costo_total_materia_prima_8 %>
</p>

<p>
  <strong>Materia prima 9:</strong>
  <%= @formula_pintura.materia_prima_9 %>
</p>

<p>
  <strong>Costo kg materia prima 9:</strong>
  <%= @formula_pintura.costo_kg_materia_prima_9 %>
</p>

<p>
  <strong>Porcentaje materia prima 9:</strong>
  <%= @formula_pintura.porcentaje_materia_prima_9 %>
</p>

<p>
  <strong>Kg materia prima 9:</strong>
  <%= @formula_pintura.kg_materia_prima_9 %>
</p>

<p>
  <strong>Costo total materia prima 9:</strong>
  <%= @formula_pintura.costo_total_materia_prima_9 %>
</p>

<p>
  <strong>Materia prima 10:</strong>
  <%= @formula_pintura.materia_prima_10 %>
</p>

<p>
  <strong>Costo kg materia prima 10:</strong>
  <%= @formula_pintura.costo_kg_materia_prima_10 %>
</p>

<p>
  <strong>Porcentaje materia prima 10:</strong>
  <%= @formula_pintura.porcentaje_materia_prima_10 %>
</p>

<p>
  <strong>Kg materia prima 10:</strong>
  <%= @formula_pintura.kg_materia_prima_10 %>
</p>

<p>
  <strong>Costo total materia prima 10:</strong>
  <%= @formula_pintura.costo_total_materia_prima_10 %>
</p>

<p>
  <strong>Materia prima 11:</strong>
  <%= @formula_pintura.materia_prima_11 %>
</p>

<p>
  <strong>Costo kg materia prima 11:</strong>
  <%= @formula_pintura.costo_kg_materia_prima_11 %>
</p>

<p>
  <strong>Porcentaje materia prima 11:</strong>
  <%= @formula_pintura.porcentaje_materia_prima_11 %>
</p>

<p>
  <strong>Kg materia prima 11:</strong>
  <%= @formula_pintura.kg_materia_prima_11 %>
</p>

<p>
  <strong>Costo total materia prima 11:</strong>
  <%= @formula_pintura.costo_total_materia_prima_11 %>
</p>

<p>
  <strong>Materia prima 12:</strong>
  <%= @formula_pintura.materia_prima_12 %>
</p>

<p>
  <strong>Costo kg materia prima 12:</strong>
  <%= @formula_pintura.costo_kg_materia_prima_12 %>
</p>

<p>
  <strong>Porcentaje materia prima 12:</strong>
  <%= @formula_pintura.porcentaje_materia_prima_12 %>
</p>

<p>
  <strong>Kg materia prima 12:</strong>
  <%= @formula_pintura.kg_materia_prima_12 %>
</p>

<p>
  <strong>Costo total materia prima 12:</strong>
  <%= @formula_pintura.costo_total_materia_prima_12 %>
</p>

<p>
  <strong>Materia prima 13:</strong>
  <%= @formula_pintura.materia_prima_13 %>
</p>

<p>
  <strong>Costo kg materia prima 13:</strong>
  <%= @formula_pintura.costo_kg_materia_prima_13 %>
</p>

<p>
  <strong>Porcentaje materia prima 13:</strong>
  <%= @formula_pintura.porcentaje_materia_prima_13 %>
</p>

<p>
  <strong>Kg materia prima 13:</strong>
  <%= @formula_pintura.kg_materia_prima_13 %>
</p>

<p>
  <strong>Costo total materia prima 13:</strong>
  <%= @formula_pintura.costo_total_materia_prima_13 %>
</p>

<p>
  <strong>Materia prima 14:</strong>
  <%= @formula_pintura.materia_prima_14 %>
</p>

<p>
  <strong>Costo kg materia prima 14:</strong>
  <%= @formula_pintura.costo_kg_materia_prima_14 %>
</p>

<p>
  <strong>Porcentaje materia prima 14:</strong>
  <%= @formula_pintura.porcentaje_materia_prima_14 %>
</p>

<p>
  <strong>Kg materia prima 14:</strong>
  <%= @formula_pintura.kg_materia_prima_14 %>
</p>

<p>
  <strong>Costo total materia prima 14:</strong>
  <%= @formula_pintura.costo_total_materia_prima_14 %>
</p>

<p>
  <strong>Materia prima 15:</strong>
  <%= @formula_pintura.materia_prima_15 %>
</p>

<p>
  <strong>Costo kg materia prima 15:</strong>
  <%= @formula_pintura.costo_kg_materia_prima_15 %>
</p>

<p>
  <strong>Porcentaje materia prima 15:</strong>
  <%= @formula_pintura.porcentaje_materia_prima_15 %>
</p>

<p>
  <strong>Kg materia prima 15:</strong>
  <%= @formula_pintura.kg_materia_prima_15 %>
</p>

<p>
  <strong>Costo total materia prima 15:</strong>
  <%= @formula_pintura.costo_total_materia_prima_15 %>
</p>

<p>
  <strong>Materia prima 16:</strong>
  <%= @formula_pintura.materia_prima_16 %>
</p>

<p>
  <strong>Costo kg materia prima 16:</strong>
  <%= @formula_pintura.costo_kg_materia_prima_16 %>
</p>

<p>
  <strong>Porcentaje materia prima 16:</strong>
  <%= @formula_pintura.porcentaje_materia_prima_16 %>
</p>

<p>
  <strong>Kg materia prima 16:</strong>
  <%= @formula_pintura.kg_materia_prima_16 %>
</p>

<p>
  <strong>Costo total materia prima 16:</strong>
  <%= @formula_pintura.costo_total_materia_prima_16 %>
</p>

<p>
  <strong>Materia prima 17:</strong>
  <%= @formula_pintura.materia_prima_17 %>
</p>

<p>
  <strong>Costo kg materia prima 17:</strong>
  <%= @formula_pintura.costo_kg_materia_prima_17 %>
</p>

<p>
  <strong>Porcentaje materia prima 17:</strong>
  <%= @formula_pintura.porcentaje_materia_prima_17 %>
</p>

<p>
  <strong>Kg materia prima 17:</strong>
  <%= @formula_pintura.kg_materia_prima_17 %>
</p>

<p>
  <strong>Costo total materia prima 17:</strong>
  <%= @formula_pintura.costo_total_materia_prima_17 %>
</p>

<p>
  <strong>Materia prima 18:</strong>
  <%= @formula_pintura.materia_prima_18 %>
</p>

<p>
  <strong>Costo kg materia prima 18:</strong>
  <%= @formula_pintura.costo_kg_materia_prima_18 %>
</p>

<p>
  <strong>Porcentaje materia prima 18:</strong>
  <%= @formula_pintura.porcentaje_materia_prima_18 %>
</p>

<p>
  <strong>Kg materia prima 18:</strong>
  <%= @formula_pintura.kg_materia_prima_18 %>
</p>

<p>
  <strong>Costo total materia prima 18:</strong>
  <%= @formula_pintura.costo_total_materia_prima_18 %>
</p>

<p>
  <strong>Materia prima 19:</strong>
  <%= @formula_pintura.materia_prima_19 %>
</p>

<p>
  <strong>Costo kg materia prima 19:</strong>
  <%= @formula_pintura.costo_kg_materia_prima_19 %>
</p>

<p>
  <strong>Porcentaje materia prima 19:</strong>
  <%= @formula_pintura.porcentaje_materia_prima_19 %>
</p>

<p>
  <strong>Kg materia prima 19:</strong>
  <%= @formula_pintura.kg_materia_prima_19 %>
</p>

<p>
  <strong>Costo total materia prima 19:</strong>
  <%= @formula_pintura.costo_total_materia_prima_19 %>
</p>

<p>
  <strong>Materia prima 20:</strong>
  <%= @formula_pintura.materia_prima_20 %>
</p>

<p>
  <strong>Costo kg materia prima 20:</strong>
  <%= @formula_pintura.costo_kg_materia_prima_20 %>
</p>

<p>
  <strong>Porcentaje materia prima 20:</strong>
  <%= @formula_pintura.porcentaje_materia_prima_20 %>
</p>

<p>
  <strong>Kg materia prima 20:</strong>
  <%= @formula_pintura.kg_materia_prima_20 %>
</p>

<p>
  <strong>Costo total materia prima 20:</strong>
  <%= @formula_pintura.costo_total_materia_prima_20 %>
</p>

<p>
  <strong>Costo final kg:</strong>
  <%= @formula_pintura.costo_final_kg %>
</p>

<%= link_to 'Edit', edit_formula_pintura_path(@formula_pintura) %> |
<%= link_to 'Back', formula_pinturas_path %>
