<p id="notice"><%= notice %></p>

<h1>Ordenes de trabajo</h1>

<table>
  <thead>
    <tr>
      <th>Pantonera</th>
      <th>Codigo</th>
      <th>Producto</th>
      <th>Formula kg</th>
      <th>Cantidad tineta</th>
      <th>Fecha produccion</th>
      <th>Colorista a cargo</th>
      <th>Materia prima 1</th>
      <th>Materia prima 2</th>
      <th>Materia prima 3</th>
      <th>Materia prima 4</th>
      <th>Materia prima 5</th>
      <th>Materia prima 6</th>
      <th>Materia prima 7</th>
      <th>Materia prima 8</th>
      <th>Materia prima 9</th>
      <th>Materia prima 10</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ots.each do |ot| %>
      <tr>
        <td><%= ot.pantonera %></td>
        <td><%= ot.codigo %></td>
        <td><%= ot.producto %></td>
        <td><%= ot.formula_kg %></td>
        <td><%= ot.cantidad_tineta %></td>
        <td><%= ot.fecha_produccion %></td>
        <td><%= ot.colorista_a_cargo %></td>
        <td><%= ot.materia_prima_1 %></td>
        <td><%= ot.materia_prima_2 %></td>
        <td><%= ot.materia_prima_3 %></td>
        <td><%= ot.materia_prima_4 %></td>
        <td><%= ot.materia_prima_5 %></td>
        <td><%= ot.materia_prima_6 %></td>
        <td><%= ot.materia_prima_7 %></td>
        <td><%= ot.materia_prima_8 %></td>
        <td><%= ot.materia_prima_9 %></td>
        <td><%= ot.materia_prima_10 %></td>
        <td><%= link_to 'Show', ot %></td>
        <td><%= link_to 'Edit', edit_ot_path(ot) %></td>
        <td><%= link_to 'Destroy', ot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva orden de trabajo', new_ot_path %>
