<p id="notice"><%= notice %></p>

<p>
  <strong>Pantonera:</strong>
  <%= @ot.pantonera %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @ot.codigo %>
</p>

<p>
  <strong>Producto:</strong>
  <%= @ot.producto %>
</p>

<p>
  <strong>Formula kg:</strong>
  <%= @ot.formula_kg %>
</p>

<p>
  <strong>Cantidad tineta:</strong>
  <%= @ot.cantidad_tineta %>
</p>

<p>
  <strong>Fecha produccion:</strong>
  <%= @ot.fecha_produccion %>
</p>

<p>
  <strong>Colorista a cargo:</strong>
  <%= @ot.colorista_a_cargo %>
</p>

<p>
  <strong>Materia prima 1:</strong>
  <%= @ot.materia_prima_1 %>
</p>

<p>
  <strong>Materia prima 2:</strong>
  <%= @ot.materia_prima_2 %>
</p>

<p>
  <strong>Materia prima 3:</strong>
  <%= @ot.materia_prima_3 %>
</p>

<p>
  <strong>Materia prima 4:</strong>
  <%= @ot.materia_prima_4 %>
</p>

<p>
  <strong>Materia prima 5:</strong>
  <%= @ot.materia_prima_5 %>
</p>

<p>
  <strong>Materia prima 6:</strong>
  <%= @ot.materia_prima_6 %>
</p>

<p>
  <strong>Materia prima 7:</strong>
  <%= @ot.materia_prima_7 %>
</p>

<p>
  <strong>Materia prima 8:</strong>
  <%= @ot.materia_prima_8 %>
</p>

<p>
  <strong>Materia prima 9:</strong>
  <%= @ot.materia_prima_9 %>
</p>

<p>
  <strong>Materia prima 10:</strong>
  <%= @ot.materia_prima_10 %>
</p>

<%= link_to 'Edit', edit_ot_path(@ot) %> |
<%= link_to 'Back', ots_path %>
